.question-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .answers {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 lignes de 3 colonnes */
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .answer-button {
    background-color: #c18400;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
    width: 220px; /* Largeur plus grande */
    height: 80px; /* Hauteur plus grande pour laisser la place aux longues réponses */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: normal; /* Permet le retour à la ligne */
    word-wrap: break-word; /* Coupe les mots trop longs */
    text-overflow: ellipsis;
  }
  
  .answer-button:hover {
    background-color: #116bcc;
    color: #9ccafc;
    filter: drop-shadow(0 0 0.2em #646cffaa);
  }
  